:root {
    --accent: #6e48ad;
    --accent-bg: white;
    --bg: #fff;
    --text: #212121;
    --text-light: #585858;
    --border: #d8dae1;
    --code: #d81b60;
    --preformatted: #444;
}

    header {
        background-color: #f1f1f1;
        background-image: url("https://i.imgur.com/X0ZLbOO.png");
        position: relative;
        display: no-repeat;
        padding: 30px;
        text-align: center;
        font-size: 75px;
        color: red;
    }

    img.dragon {
        z-index: -1;
    }

article {
    background-color: pink;
    max-width: 800px;
    max-height: 800px;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
}

h2 {
    font-size: 1.5em;
    text-align: center;
}

h2, h4 {
    margin-top: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .7em;
    font-weight: normal;
}

.question, .answer {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

.answer {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0;
    text-align: center;
}

hr {
    background: var(--accent);
    border-color: var(--accent);
}

button, [role="button"] {
    color: white;
    text-decoration: none;
}

input, select, textarea {
    width: 100%;
}

div.mnemonic {
    display: flex;
    {% comment %} flex-direction: row; {% endcomment %}
    text-align: left;
    margin: 0 10% 40% 70%;
    
}

a.del-card {
    color: red;
    position: relative;
    text-align: left;
}
