<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chinese Flashcards</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="{% static 'flashcards/style.css' %}">
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,700&family=Libre+Franklin&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 id='app-title'>Chinese Flashcards</h1>
        {% include "flashcards/navigation.html" %}
    </header>
    <main>
          {% block content %}
        <h2 class="welcome">Welcome to your Chinese Flashcards app!</h2>
        {% endblock content %}
    </main>
</body>

</html>