{% extends "flashcards/base.html" %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Add a new flashcard</h2>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{form.difficulty}}
                {{form.question}}
                {{form.pinyin}}
                {{form.answer}}
                {{form.mnemonic}}
            </div>
            
            <input class="create-type" type="submit" value="save flashcard" class="btn btn-outline-success" >
            
        </form>
    </div>
{% endblock %}
