<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chinese Flashcards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<style>
    header {
        background-color: #f1f1f1;
        background-image: url("https://i.imgur.com/X0ZLbOO.png");
        position: relative;
        display: no-repeat;
        padding: 30px;
        text-align: center;
        font-size: 55px;
        color: red;
    }

    .col-12 {
        text-align: center;
        margin-top: 20px;
    }

    .create-type {
        background-color: green;
        color: white;
        border-radius: 5px;
        text-align: center;
</style>

<body>
     <header>
        <h1>Chinese Flashcards App</h1>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Add a new flashcard</h2>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{form.difficulty}}
                {{form.question}}
                {{form.pinyin}}
                {{form.answer}}
                {{form.mnemonic}}
            </div>
            
            <input class="create-type" type="submit" value="save flashcard" class="btn btn-outline-success" >
            
        </form>
    </div>
</body>