<div class="flip-box">
  <div class="flip-box-inner">
   <div class="flip-box-front">
      <article id='diff-level'>
         <h3>difficulty level:</h3>
         <h3 class="difficulty">{{ flashcard.difficulty }}</h3>
         <h1 class="question">{{ flashcard.question }}</h1>
      </article>
   </div>
  <div class="flip-box-back">
   <h3 class="pinyin">pinyin:   {{ flashcard.pinyin }}</h3>
   <p class="answer">meaning:   {{ flashcard.answer }}</p>
   <div>
      <h3 class="mnemonic">character mnemonic:</h3>
      <h3 class="mnemonic">{{ flashcard.mnemonic }}</h3>
   </div>
   {% comment %} <a href="{% url 'Flashcard-update' Flashcard.id %}" role="button">
         ✏️ Edit Flashcard
      </a> {% endcomment %}
      <a class="del-card" href="delete/{{ flashcard.id }}">
         Delete Flashcard
      </a>
   </div>
</div>
</div>
